[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/TeamplGPT/teamplgpt-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/TeamplGPT/teamplgpt-embed.git
	branch = main
